footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(45deg, rgba(212, 232, 255, 0.95), #e7f1ff);
  padding: 1em 0 3em 0;
  border-top: 3px solid white;

  a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    text-align: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
    box-sizing: inherit;
    background: transparent;
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
    color: black;
  }

  >div {
    display: flex;
    align-items: center;
    justify-content: center;


    svg {
      width: 1.8em;
      height: 100%;
      margin: 2em;

      path {
        fill: black;
      }
    }

    a:hover {
      text-decoration: underline $cyan;

      svg path {
        fill: $cyan;
      }
    }
  }

  #footer-bottom {
    >* {
      padding: 0;
      margin: 2px 10px;
    }
  }

}

@media all and (max-width: 490px) {
  #footer-bottom>* {
    font-size: 11px;
    margin: 0;
  }
}

@media all and (min-width: 600px) {
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}