#load-screen {
  transition: opacity 1s;
  position: fixed;
  z-index: 999;
  color: #ffffff;
  font-weight: 700;
  font-size: 1em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $light-blue;
  background: cover;
  overflow: hidden;

  #water-fill {
    position: relative;
    top: 6em;

    *,
    *:before,
    *:after {
      box-sizing: border-box;
      outline: none;
    }

    .box {
      height: 250px;
      width: 250px;
      position: relative;
      left: 50%;
      transform: translate(-50%, -50%);
      background: black;
      // Hide wave svg outside circle
      border-radius: 100%;
      overflow: hidden;

      #enter {
        // 	Postition enter button in center
        position: absolute;
        top: 105px;
        z-index: 1000;
        left: 62px;
        text-align: center;
        border-radius: 100%;
        background-color: transparent;
        font-size: 2em;
        border-width: 0px;
        letter-spacing: 0.1em;
        color: white;

        &:hover {
          font-weight: bolder;
        }
      }

      .percent {
        // Hide percent text
        display: none;
      }

      .water {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        transform: translate(0, 92%);
        background: lighten($dark-blue, 0.2);
        transition: all 0.3s;

        &_wave {
          width: 200%;
          position: absolute;
          bottom: 100%;

          &_back {
            right: 0;
            fill: $light-cyan;
            animation: wave-back 1.4s infinite linear;
          }

          &_front {
            left: 0;
            fill: lighten($dark-blue, 0.2);
            margin-bottom: -1px;
            animation: wave-front 0.7s infinite linear;
          }
        }
      }
    }
  }

  @keyframes wave-front {
    100% {
      transform: translate(-50%, 0);
    }
  }

  @keyframes wave-back {
    100% {
      transform: translate(50%, 0);
    }
  }
}