nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  z-index: 90;

  .mute-btn svg,
  .reset-btn svg {
    width: 38px;
    height: auto;
    padding: 1em 0.5em;
  }

  .reset-btn {
    margin-right: 15px;
  }
}

h1 {
  font-size: 2em;
  margin: 0.3em 0;
  background-color: #ffffff;
  color: #242943;
  display: inline-block;
  /* line-height: 1.8em; */
  padding: 0.2em 0.4em 0.2em 0.6em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.reset-btn .muted {
  display: none;
}

.control_container {
  position: fixed;

  padding-top: 11px;

  top: 0;
  left: calc(50% - 2em);
  display: flex;


  justify-content: space-between;
}

.control_container:after {
  flex: auto;
  margin: 0 auto;
  content: "";
}

.control_container>* {
  width: 100%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.control_container>*:nth-child(1) {
  margin-left: 0;
}

.control_container>*:nth-child(1n) {
  margin-right: 0;
}

.control_container>*:nth-child(1n + 1) {
  margin-left: 0;
}

.mute-btn {

  position: fixed;
  top: 0;
  right: 0;

  a {
    color: white;
    text-decoration: none;
  }

  .muted {
    display: none;
  }


}

.reset-btn {
  position: fixed;
  top: 0;
  right: 50px;

  a {
    color: white;
    text-decoration: none;
  }

  .muted {
    display: none;
  }

}


#line {
  width: 100%;
  height: 3px;
  background-image: linear-gradient(90deg, #022144 30%, #004bff 65%, rgba(52, 255, 255, 0.97) 80%, rgb(41, 222, 255));
  position: fixed;
  top: 70px;
  z-index: 91;
  box-shadow: 0px 1px 6px -6px #000000;
}


// Nav bar audio visualization
.music {

  span {
    // Each bar
    animation: audio-wave 2s infinite ease-in-out;
    background: $color-blue;
    position: absolute;
    bottom: calc(50% - 2em);
    display: block;
    height: 0.3em;
    width: 0.6em;
    border-radius: .3em;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        left: 0.68em * ($i - 0.1);
        animation-delay: 0.25s * ($i - 1);
      }
    }

  }

  &.off span {
    animation: none;
  }

}

@keyframes audio-wave {
  0% {
    height: 0.3em;
    transform: translateY(0px);
    background: $color-blue;
    border-radius: 0.1em;
  }

  25% {
    height: 2.500em;
    transform: translateY(1.25em);
    background: $color-glitch-two;
    border-radius: .3em;
  }

  50% {
    height: 0.3em;
    transform: translateY(0px);
    background: $color-blue;
    border-radius: .3em;
  }

  100% {
    height: 0.3em;
    transform: translateY(0px);
    background: $color-blue;
    border-radius: 0.1em;


  }
}



/* Header */

@-moz-keyframes reveal-header {
  0% {
    top: -70px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes reveal-header {
  0% {
    top: -70px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@-ms-keyframes reveal-header {
  0% {
    top: -70px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes reveal-header {
  0% {
    top: -70px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}



#line {
  opacity: 0;
}

nav {
  opacity: 0;
  top: -70px;

  &.reveal {

    -moz-animation: reveal-header 1.2s ease;
    -webkit-animation: reveal-header 1.2s ease;
    -ms-animation: reveal-header 1.2s ease;
    animation: reveal-header 1.2s ease;
    opacity: 1;
    top: 0;

    +#line {
      animation: 1.2s slideInFromLeft 1s 1 ease;
      transition: opacity 1.2s ease-in 1s;
      opacity: 1;
    }

    .mute-btn,
    .reset-btn,
    .control_container {
      -moz-animation: reveal-header 1.2s ease;
      -webkit-animation: reveal-header 1.2s ease;
      -ms-animation: reveal-header 1.2s ease;
      animation: reveal-header 1.2s ease;
    }
  }
}


@keyframes slideInFromLeft {
  0% {
    opacity: 0.5;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


@media all and (min-width: 500px) and (max-width: 700px) {

  // Reduce logo size
  nav h1 {
    font-size: 1.4em;
    padding-top: 0.7em;
  }

}


@media all and (max-width: 499px) {

  // Change navbar to 2 rows on small screens
  nav {

    height: 120px;

    h1 {
      font-size: 30px;
      display: block;
      text-align: center;
    }

    .mute-btn,
    .reset-btn {
      top: -20px;
    }

    .reset-btn {
      left: 10px;
    }

    .mute-btn {
      right: 10px;
    }

    .control_container {
      padding-top: 110px;
    }

    &.reveal {

      .reset-btn,
      .mute-btn {
        top: 50px;
      }

      .mute-btn,
      .reset-btn {
        -moz-animation: none;
        -webkit-animation: none;
        -ms-animation: none;
        animation: none;
        transition: all 1.2s ease;
      }
    }


  }

  #line {
    top: 120px;
  }

  header p#home-desc {
    margin-top: 165px;
  }

}

@media screen and (min-width: 600px) {
  nav {
    .reset-btn {
      margin-right: 45px;
    }

    .mute-btn {
      margin-right: 15px;
    }
  }
}