nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4em;
  background-color: white;
  z-index: 90;



  .mute-btn svg,
  .reset-btn svg {
    width: 40px;
    height: auto;
    padding: 10px;
  }

  .reset-btn {
    margin-right: 15px;
  }
}

.reset-btn .muted {
  display: none;
}



.control_container {
  position: fixed;

  padding-top: 48px;

  top: 0;
  left: calc(50% - 2em);
  display: flex;


  justify-content: space-between;
}

.control_container:after {
  flex: auto;
  margin: 0 auto;
  content: "";
}

.control_container>* {
  width: calc(100% - 0em);
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.control_container>*:nth-child(1) {
  margin-left: 0;
}

.control_container>*:nth-child(1n) {
  margin-right: 0;
}

.control_container>*:nth-child(1n + 1) {
  margin-left: 0;
}

.mute-btn {

  position: fixed;
  top: 0;
  right: 0;

  a {
    color: white;
    text-decoration: none;
  }

  .muted {
    display: none;
  }


}

.reset-btn {
  position: fixed;
  top: 0;
  right: 50px;

  a {
    color: white;
    text-decoration: none;
  }

  .muted {
    display: none;
  }

}


#line {
  width: 100%;
  height: 2px;
  background-image: linear-gradient(90deg, darken($color-blue, 0.1), lightgray, $color-glitch-two);
  position: fixed;
  top: 4em;
}


// Nav bar audio visualization
.music {

  span {
    animation: audio-wave 2s infinite ease-in-out;
    background: $color-blue;
    bottom: calc(50% - 0.4em);
    position: absolute;
    display: block;
    height: 0.3em;
    width: 0.6em;
    border-radius: .3em;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        left: 0.68em * ($i - 0.1);
        animation-delay: 0.25s * ($i - 1);
      }
    }

  }

  &.off span {
    animation: none;
  }

}

@keyframes audio-wave {
  0% {
    height: 0.3em;
    transform: translateY(0px);
    background: $color-blue;
    border-radius: 0.1em;
  }

  25% {
    height: 2.500em;
    transform: translateY(1.25em);
    background: $color-glitch-two;
    border-radius: .3em;
  }

  50% {
    height: 0.3em;
    transform: translateY(0px);
    background: $color-blue;
    border-radius: .3em;
  }

  100% {
    height: 0.3em;
    transform: translateY(0px);
    background: $color-blue;
    border-radius: 0.1em;


  }
}