
input[type=range] {

  -webkit-appearance: none;
  width: 50%;
  max-width: 150px;
  transition: opacity 2s;
  box-sizing: border-box;
  font-size: 1em;
  line-height: 0.5em;
  height: 0.5em;
  background-color: white;
  border-radius: 2em;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  &:focus {
    outline: none;
  }

  &::-ms-track {
    width: 50%;
    max-width: 200px;

    background: transparent;
    border-color: BLACK;
    color: transparent;
  }

  // @mixin mx-trange-trump() {
  //   width: 1em;
  //   height: 1em;
  //   margin-top: -4px;
  //   background-color: white;
  //   border-radius: 50%;
  //   border-width: 0px;
  // }

  // &::-webkit-slider-thumb {
  //   -webkit-appearance: none;
  //   @include mx-trange-trump();
  // }

  // &::-moz-range-thumb {
  //   @include mx-trange-trump();
  // }

  // &::-ms-thumb {
  //   @include mx-trange-trump();
  // }

  // @mixin mx-range-track() {
  //   width: 50%;
  //   max-width: 150px;
  //   height: 4px;
  //   // border-bottom: 4px solid white;
  //   transition: opacity 2s;
  //   box-sizing: border-box;
  //   font-size: 1em;
  //   line-height: 0.5em;
  //   height: 0.5em;
  //   border-radius: 2em;
  // }

  &::-webkit-slider-runnable-track {

    width: 50%;
    max-width: 150px;
    height: 4px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
    background-color: white;


  }

  // &::-moz-range-track {
  //   @include mx-range-track();
  //   width: 50%;
  //   max-width: 150px;
  //   height: 4px;
  //   border-bottom: 4px solid rgba(255, 255, 255, 0.5);
  //   background-color: transparent;


  // }

  &::-ms-track {
    width: 50%;
    max-width: 200px;
    border-color: black;
    color: transparent;
    background: transparent;

  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    margin-top: -4px;
    background-color: white;
    border-radius: 50%;
    border: 0 solid black;
  }

  &::-moz-range-thumb {
    width: 1em;
    height: 1em;
    margin-top: -4px;
    background-color: white;
    border-radius: 50%;
    border: 0 solid black;
  }

  &::-ms-thumb {
    width: 1em;
    height: 1em;
    margin-top: -4px;
    background-color: white;
    border-radius: 50%;
    border: 0 solid black;
  }

  &:focus {
    outline: none;
  }


  &:hover {

    &::-webkit-slider-thumb,
    &::-moz-range-thumb,
    &::-ms-thumb {
      border-color: rgba(255, 255, 255, 0.7);
    }
  }

  &:active {

    &::-webkit-slider-thumb,
    &::-moz-range-thumb,
    &::-ms-thumb {
      border-color: black;
    }
  }

}