$color_fill: white;
$font-size: 1em;

// light version
$color_default: rgba(255, 255, 255, .5);
$color_hover: rgba(255, 255, 255, .7);
$color_active: rgba(255, 255, 255, 1);


input[type=range] {

  -webkit-appearance: none;
  width: 50%;
  max-width: 150px;
  transition: opacity 2s;
  box-sizing: border-box;
  font-size: 1em;
  line-height: 0.5em;
  height: 0.5em;
  background-color: white;
  border-radius: 2em;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  &:focus {
    outline: none;
  }

  &::-ms-track {
    width: 50%;
    max-width: 200px;

    background: transparent;
    border-color: BLACK;
    color: transparent;
  }

  @mixin mx-trange-trump() {
    width: 1em;
    height: 1em;
    margin-top: -4px;
    background-color: $color_fill;
    border-radius: 50%;
    border: 0 solid $color_default;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include mx-trange-trump();
  }

  &::-moz-range-thumb {
    @include mx-trange-trump();
  }

  &::-ms-thumb {
    @include mx-trange-trump();
  }

  &:hover {
    &::-webkit-slider-thumb {
      border-color: $color_hover;
    }

    &::-moz-range-thumb {
      border-color: $color_hover;
    }

    &::-ms-thumb {
      border-color: $color_hover;
    }
  }

  //&:focus,
  &:active {
    &::-webkit-slider-thumb {
      border-color: $color_active;
    }

    &::-moz-range-thumb {
      border-color: $color_active;
    }

    &::-ms-thumb {
      border-color: $color_active;
    }
  }

  @mixin mx-range-track() {
    width: 50%;
    max-width: 150px;
    height: 4px;
    border-bottom: 4px solid $color_default;
    transition: opacity 2s;
    box-sizing: border-box;
    font-size: $font-size;
    line-height: 0.5em;
    height: 0.5em;
    border-radius: 2em;
  }

  &::-webkit-slider-runnable-track {

    width: 50%;
    max-width: 150px;
    height: 4px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
    background-color: white;


  }

  &::-moz-range-track {
    @include mx-range-track();
    width: 50%;
    max-width: 150px;
    height: 4px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;


  }

  &::-ms-track {
    width: 50%;
    max-width: 200px;
    border-color: black;
    color: transparent;
    background: transparent;

  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    margin-top: -4px;
    background-color: white;
    border-radius: 50%;
    border: 0 solid black;
  }

  &::-moz-range-thumb {
    width: 1em;
    height: 1em;
    margin-top: -4px;
    background-color: white;
    border-radius: 50%;
    border: 0 solid black;
  }

  &::-ms-thumb {
    width: 1em;
    height: 1em;
    margin-top: -4px;
    background-color: white;
    border-radius: 50%;
    border: 0 solid black;
  }

  &:focus {
    outline: none;
  }


  &:hover {

    &::-webkit-slider-thumb,
    &::-moz-range-thumb,
    &::-ms-thumb {
      border-color: rgba(255, 255, 255, 0.7);
    }
  }

  &:active {

    &::-webkit-slider-thumb,
    &::-moz-range-thumb,
    &::-ms-thumb {
      border-color: black;
    }
  }

}