#main {
  display: flex;
  justify-content: center;

  .sounds-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-items: center;
    padding: 1em;
    max-width: 1024px;
    width: 85vw;

    .sound-container {
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 200px;
      align-items: center;
      min-height: 220px;
      height: auto;
      margin-bottom: 1em;

      >.start-btn {
        position: relative;
        width: 100px;
        height: 100px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      >.start-btn img {
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: auto;
        height: 100%;
        opacity: 0.5;
        transition: all 1s ease-in;
        filter: drop-shadow(1px 1px 2px #08459c);
      }

      >.start-btn img.playing {
        opacity: 1;
      }

      >.start-btn a {
        z-index: 2;
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }

  .volume-bar {
    opacity: 0;
  }

}

@media screen and (max-width: 999px) {
  #main .sounds-container {

    >* {
      width: calc(50% - 0.5em);
      margin-left: 0.5em;
      margin-right: 0.5em;
    }

    >*:nth-child(1),
    >*:nth-child(2n),
    >*:nth-child(2n + 1) {
      margin-left: 0;
    }
  }

}

@media screen and (max-width: 850px) {

  #main .sounds-container {
    grid-template-columns: 1fr 1fr;
  }
}


@media screen and (max-width: 500px) {

  #main .sounds-container {
    grid-template-columns: 1fr;
  }
}
