/* Colors */
$color-dark: #000000;



$color-green: #057967;
$color-purple: #110033;

$color-orange: #d3b724;
$color-bright: #ffffff;
$color-glitch-one: #f0f;


$color-red: hsl(346, 99%, 50%);


$light-gray: #eef5ff;
$pale-blue: #b5d7fff5;



$color-blue: #82c7fc;

$dark-blue: #08459c;
$mid-blue: #18a7fc;
$light-blue: #c9e4ff;

$cyan: #1de8f1;
$light-cyan: #cafafc;

$color-glitch-two: #0ff;