/* Colors */
$color-dark: #000000;

$color-blue: #82bbfc;



$color-green: #057967;
$color-purple: #110033;

$color-orange: #d3b724;
$color-bright: #ffffff;
$color-glitch-one: #f0f;
$color-glitch-two: #0ff;



$color-red: #fd013a;


$dark-blue: #08459c;
$mid-blue: #18a7fc;
$light-blue: #a5defe;

$cyan: #1de8f1;
$light-cyan: #cafafc;