

body {
  font-size: 16px;
  overflow: auto;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  background: $color-blue;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, $color-blue, lighten($color-blue, 1.2));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, $color-blue, lighten($color-blue, 1.2));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.header {
  width: 100%;
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sounds_container {
  margin: 0 auto;
  padding: 250px 1em 0 1em;
  max-width: 1024px;
}

@media screen and (min-width: 600px) and (max-width: 799px) {
  .sounds_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .sounds_container:after {
    flex: auto;
    margin: 0 auto;
    content: "";
  }

  .sounds_container>* {
    width: calc(50% - 0.5em);
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .sounds_container>*:nth-child(1) {
    margin-left: 0;
  }

  .sounds_container>*:nth-child(2n) {
    margin-right: 0;
  }

  .sounds_container>*:nth-child(2n + 1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 800px) and (max-width: 999px) {
  .sounds_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .sounds_container:after {
    flex: auto;
    margin: 0 auto;
    content: "";
  }

  .sounds_container>* {
    width: calc(50% - 0.5em);
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .sounds_container>*:nth-child(1) {
    margin-left: 0;
  }

  .sounds_container>*:nth-child(2n) {
    margin-right: 0;
  }

  .sounds_container>*:nth-child(2n + 1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 1000px) {
  .sounds_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .sounds_container:after {
    flex: auto;
    margin: 0 auto;
    content: "";
  }

  .sounds_container>* {
    width: calc(50% - 0.5em);
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .sounds_container>*:nth-child(1) {
    margin-left: 0;
  }

  .sounds_container>*:nth-child(2n) {
    margin-right: 0;
  }

  .sounds_container>*:nth-child(2n + 1) {
    margin-left: 0;
  }
}

.sounds_container .sound_block {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  height: auto;
  margin-bottom: 1em;
}

.sounds_container .sound_block>.start_btn {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sounds_container .sound_block>.start_btn img {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: auto;
  height: 100%;
  opacity: 0.5;
  transition: all 1s ease-in;
}

.sounds_container .sound_block>.start_btn img.playing {
  opacity: 1;
}

.sounds_container .sound_block>.start_btn a {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: block;
}

.reset_btn .muted {
  display: none;
}

header {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

header h1 {
  font-weight: 100;
  font-size: 2.5em;
  text-transform: uppercase;
}

header p {
  line-height: 1.5em;
  padding-bottom: 2em;
}

.volume_bar {
  opacity: 0;
}

body {
  font-size: 16px;
  letter-spacing: 0.05em;
  overflow: auto;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  background: -webkit-linear-gradient(to top,
      $color-blue,
      rgba($color-blue, 0.5));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      $color-blue,
      rgba($color-blue, 0.5));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.header {
  width: 100%;
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sounds_container {
  margin: 0 auto;
  padding: 250px 1em 0 1em;
  max-width: 1024px;

  @include small_screen {
    @include flexgrid(2, 1em);
  }

  @include medium_screen {
    @include flexgrid(2, 1em);
  }

  @include large_screen {
    @include flexgrid(2, 1em);
  }
}

.sounds_container .sound_block {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  height: auto;
  margin-bottom: 1em;
}

.sounds_container .sound_block>.start_btn {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sounds_container .sound_block>.start_btn img {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: auto;
  height: 100%;
  opacity: 0.5;
  transition: all 1s ease-in;
}

.sounds_container .sound_block>.start_btn img.playing {
  opacity: 1;
}

.sounds_container .sound_block>.start_btn a {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: block;
}

header {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;

  h1 {
    font-weight: 100;
    font-size: 2.5em;
    text-transform: uppercase;
  }

  p {
    line-height: 1.5em;
    padding-bottom: 2em;
  }
}


