body {
  min-height: 100vh;
  background-color: $light-blue;
  overflow: auto;
  font-size: 16px;

  * {

    letter-spacing: 0.05em;

    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  .desc {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.1em;
    font-weight: 400;
    margin: 1em;
    margin-bottom: 2.5em;
  }
}

header {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;

  h1 {
    font-weight: 700;
    font-size: 2.5em;

  }

  p {
    line-height: 1.5em;
    padding-bottom: 2em;
  }

  #home-desc {
    margin-top: 7em;
  }
}