.header {
  width: 100%;
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


header {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

header h1 {
  font-weight: 100;
  font-size: 2.5em;
  text-transform: uppercase;
}

header p {
  line-height: 1.5em;
  padding-bottom: 2em;
}

.volume-bar {
  opacity: 0;
}

body {
  font-size: 16px;
  letter-spacing: 0.05em;
  overflow: auto;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  /* Chrome 10-25, Safari 5.1-6 */
  background-color: $color-blue;

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .desc {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    margin: 3em 1em;
  }
}

.header {
  width: 100%;
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


header {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;

  h1 {
    font-weight: 100;
    font-size: 2.5em;
    text-transform: uppercase;
  }

  p {
    line-height: 1.5em;
    padding-bottom: 2em;
  }
}
