
body {
  font-size: 16px;
  letter-spacing: 0.05em;
  overflow: auto;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  background-color: $color-blue;

  .desc {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.1em;
    margin: 1em;
    margin-bottom: 2.5em;
  }
}

header {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;

  h1 {
    font-weight: 100;
    font-size: 2.5em;
    text-transform: uppercase;
  }

  p {
    line-height: 1.5em;
    padding-bottom: 2em;
  }
  #home-desc {
    margin-top: 7em;
  }
}
