@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import 'normalize.scss';
@import '_variables';
@import '_slider';

@import '_loader';
@import '_footer';
@import '_nav';
// @import '_cursor';
@import '_sounds';
@import 'layout.scss';
