@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import 'normalize.scss';
@import '_variables';
@import '_mixins';
@import '_slider';

@import '_loader';
@import '_footer';
@import '_visual';
@import '_cursor';
@import 'layout.scss';